*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;

}
.layoutSenac{
    margin-bottom: 15px;

}
        .layoutSenac label{
display: block;
margin-bottom: 5px;
color: black;
font-weight: bold;
        }

        .layoutSenac input[type= "text"],
        .layoutSenac input[type= "email"],
        .layoutSenac input[type= "senha"],
        .layoutSenac input[type= "password"],
        .layoutSenac input[type= "telefone"],
        .layoutSenac input[type= "url"],
        .layoutSenac input[type= "date"],
        .layoutSenac input[type= "color"],
        .layoutSenac input[type= "number"],
        .layoutSenac input[type= "range"],
        .layoutSenac input[type= "file"],
        .layoutSenac input[type= "checkbox"],
        .layoutSenac input[type= "radio"]{


            width: 100%;
            padding: 10px;
            border: 1px solid#ccc;
            border-radius: 10px;
            font-size: 10px;
            margin-top: 5px;
        }
    
        .principal
        {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: gainsboro;
    border-radius: 12px;

        }

        .layoutSenac button[type= "reset"]{
            cursor: pointer;
            
        }
        
        .layoutSenac button:hover{
            background-color: pink;
            cursor: pointer;
        }

        .layoutSenac input[type= "cheackbox"],
        .layoutSenac input[type= "radio"]
        {
    width: auto;
    margin-right: 10px;
    margin-top: 0;
        }
        
        .layoutSenac input[type= range]
        {
            width: 100%;
        }
        .layoutSenac button{
            width: 30%;
            padding: 10px;
            background-color: blue;
            color: aliceblue;
            border-radius: 8px;
            font-size: 10px;
            margin-right: 4%;
        }
    
